html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

.maintable {
  background-color: #fff;
	padding-top: 40px;
}

.dataTables_filter {
}

.dataTables_info {
}

.dataTables_paginate {
}

ul.nav-tabs {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 29px;
  background: #f3f3f3;
  margin: 0;
  padding: 5px 0 0 5px;
}

.nav-tabs > li > a {
  padding: 4px 8px;
}
