html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
}

/* Structural elements */

#table-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 209px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  overflow-y: auto;
}

#table-sidebar ul {
  margin: 8px 0;
  font-size: 14px;
}

#table-sidebar li a {
  cursor: pointer;
}

#developer-tables {
  cursor: pointer;
}

#developer-tables:hover {
  color: #666;
}

.developer {
  display: none;
}

.developer a {
  color: #9AB1BD;
}

.developer a:hover {
  color: #829BA8;
}

#content,
.dataTables_processing {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 210px;
}

#content {
  overflow: auto; /* adds scroll bars for long or wide tables/grids */
}

.dataTables_processing {
  position: fixed;
  z-index: 9000;
  background: #fff url(img/loader.gif) center center no-repeat;
  background-color: rgba(255,255,255,0.8);
  text-indent: -9000px;
}


/* Errors and alerts */

body > .alert {
  position: absolute;
  top: 0;
  left: 210px;
  right: 0;
  z-index: 500;
  margin: 0;
  height: 24px;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}

div.problem {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20em;
  margin: -4em 0 0 -10em;
  text-align: center;
  color: #68460B;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: rgb(252, 248, 227);
  border: 1px solid rgb(251, 238, 213);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#all_grids,
.maintable[id^="grid_"] {
  padding: 20px;
  background: #C2CDDA;
  min-height: 100%;
}

#all_grids table,
.maintable[id^="grid_"] table {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border: none;
}

#all_grids table {
  margin-bottom: 40px;
}


/* DataTables Components */

.table_controls {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 7px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}

.table_wrapper {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.table-bordered td, .table-bordered th {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.table-bordered {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  margin: 0;
}

td:first-child,
th:first-child {
  border-left: none;
}

.maintable[id^="grid_"] table {
  border-top: none;
}

.table th, .table td {
  padding: 4px 5px;
  line-height: 20px;
}

.input-append {
  float: right;
  margin-top: 5px;
}

.dataTables_info {
  text-align: center;
  line-height: 40px;
}

.dataTables_paginate {
  float: left;
  margin: 7px 0 0 0;
}

td.dataTables_empty {
  text-align: center;
}

img.inline {
  max-height: 96px;
}

